ANDROID_APP_PACKAGE=com.example.application
ANDROID_APP_ACTIVITY=.MainActivity

TEST_USERNAME=
TEST_PASSWORD=


# lambdatest config
LT_USERNAME=
LT_ACCESS_KEY=
LT_APP_ID=
LT_DEVICE_NAME=Galaxy S23
LT_PLATFORM_VERSION=13
LT_BUILD_NAME=Appium Playground

TEST_RETRIES=0
SPEC_RETRIES=0